metadata-ObSQHdPn67BFRMtG.json
{"createdAt":"2025-09-13T00:07:22.531Z","updatedAt":"2025-09-14T03:19:28.000Z","id":"ObSQHdPn67BFRMtG","name":"Metadata","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"775d2034-9ef4-44df-8b09-abf01f29be07","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1uJvoPIOTm2sI2spgw1snD_5dn2Qn_NpG","mode":"list","cachedResultName":"metadata_test","cachedResultUrl":"https://drive.google.com/drive/folders/1uJvoPIOTm2sI2spgw1snD_5dn2Qn_NpG"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[208,0],"id":"8e695212-502e-4083-aab2-dc3c96a95450","name":"Search files and folders","credentials":{"googleDriveOAuth2Api":{"id":"apDatjbE1DkM08Tf","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[688,16],"id":"f5942e15-5763-49a4-b942-9d7d902a0c20","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"apDatjbE1DkM08Tf","name":"Google Drive account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-exif-data.exifData","typeVersion":1,"position":[896,16],"id":"6af0e9f9-8f22-4976-8399-82ecf8ea93e6","name":"EXIF Data"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[432,0],"id":"49df2313-ca89-49b7-ab77-a8e9db18a2af","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"9c200b0e-0bfc-4075-9470-328eb35d804a","name":"name","value":"={{ $json.name }}","type":"string"},{"id":"a581f01f-b0f6-4319-9da4-2481ea3ca123","name":"exifData.Keywords","value":"={{ $json.exifData.Keywords }}","type":"array"},{"id":"ea13c995-46ba-4f1d-af86-294506aceca2","name":"exifData.Format","value":"={{ $json.exifData.Format }}","type":"string"},{"id":"18f38238-1bd5-417c-956d-426a675ce8ca","name":"exifData.ImageSize","value":"={{ $json.exifData.ImageSize }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1104,16],"id":"096202cd-d30c-409a-a76a-64e63d2c4ddb","name":"Edit Fields"},{"parameters":{"url":"https://mapi.storyblok.com/v1/spaces/:space_id/internal_tags","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,-304],"id":"bb8bd446-5809-4f70-8571-36ad938bd6d3","name":"HTTP Request"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Download file":{"main":[[{"node":"EXIF Data","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Download file","type":"main","index":0}]]},"EXIF Data":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e96bcb61-cae6-4e74-bffb-8d23e98d9bd6","triggerCount":0,"shared":[{"createdAt":"2025-09-13T00:07:22.535Z","updatedAt":"2025-09-13T00:07:22.535Z","role":"workflow:owner","workflowId":"ObSQHdPn67BFRMtG","projectId":"Q2gWlykIbD5UlvZo"}],"tags":[]}