my-sub-workflow-SMkwd4a6fZFZ9OLb.json
{"createdAt":"2025-09-14T01:32:01.867Z","updatedAt":"2025-09-14T03:18:44.000Z","id":"SMkwd4a6fZFZ9OLb","name":"My Sub-workflow","active":false,"isArchived":true,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c8799c49-1913-4c4e-a723-e25b00aa5258","leftValue":"={{ $json.Keywords }}","rightValue":"Portrait","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"looseTypeValidation":false,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1616,-704],"id":"01b4f8f5-7958-44b6-abe6-ef52ebd30a9f","name":"If Portrait"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c8799c49-1913-4c4e-a723-e25b00aa5258","leftValue":"={{ $json.Keywords }}","rightValue":"Studio","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"looseTypeValidation":false,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1616,-896],"id":"7e4d171b-f694-4e7d-a485-26127d1620e9","name":"If Studio"},{"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-992,-1040],"id":"3b55ba63-f2a2-4a03-a8a9-9fb1d03b898b","name":"Merge5","disabled":false,"parameters":{"mode":"chooseBranch","numberInputs":2,"chooseBranchMode":"waitForAll","output":"specifiedInput","useDataOfInput":2}},{"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-768,-1040],"id":"bdd40578-60c1-461a-82b8-eceafb9eb543","name":"Color Tag ID","disabled":false,"parameters":{"mode":"manual","duplicateItem":false,"assignments":{},"includeOtherFields":false,"options":{}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c8799c49-1913-4c4e-a723-e25b00aa5258","leftValue":"={{ $json.Keywords }}","rightValue":"Color","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"looseTypeValidation":false,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1616,-1088],"id":"ace8c61b-c2ce-44db-b60a-a30d8418cf9d","name":"If Color"},{"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1312,-1216],"id":"3bc63fc7-53be-429d-9923-cc6f19a777c8","name":"Switch","disabled":false,"parameters":{"mode":"rules","rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.Keywords }}","rightValue":"Nude","operator":{"type":"array","operation":"contains","rightType":"any"},"id":"dc1b5a30-73ad-4c7b-9aac-4d40f9fde448"}],"combinator":"and"},"renameOutput":true,"outputKey":"Nude"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bd5fd4fa-ce33-4f3a-8d97-9838733f6cda","leftValue":"={{ $json.Keywords }}","rightValue":"B/W","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"renameOutput":true,"outputKey":"B/W"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a579d432-286c-4435-90ed-803038944eec","leftValue":"={{ $json.Keywords }}","rightValue":"Color","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Color"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5f9f05e-cf17-404d-a2ed-a04df5f7624a","leftValue":"={{ $json.Keywords }}","rightValue":"Studio","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Studio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3f89411a-e964-4bff-88f5-5c2548bc7835","leftValue":"={{ $json.Keywords }}","rightValue":"Studio","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Studio"}]},"looseTypeValidation":false,"options":{"allMatchingOutputs":true}}},{"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-992,-1216],"id":"8a4cf524-ac04-4106-a9c8-d96ae67c9483","name":"Merge4","disabled":false,"parameters":{"mode":"chooseBranch","numberInputs":2,"chooseBranchMode":"waitForAll","output":"specifiedInput","useDataOfInput":2}},{"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-784,-1216],"id":"fa8c47b4-9c5e-41ca-b0cc-b21fe2f47002","name":"B/W Tag ID","disabled":false,"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"1d527a5e-e88f-4c7e-89d3-0552d30f6ced","name":"B/W Tag ID","value":"={{ $json.internal_tags[1].id }}","type":"number"}]},"includeOtherFields":false,"options":{}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c8799c49-1913-4c4e-a723-e25b00aa5258","leftValue":"={{ $json.Keywords }}","rightValue":"B/W","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"looseTypeValidation":false,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1616,-1280],"id":"c4a74bd6-4fac-476c-ad26-bdbc3b5d2e76","name":"If B/W"},{"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-992,-1408],"id":"a084da5b-7179-48fb-838a-e56386d4d108","name":"Merge3","disabled":false,"parameters":{"mode":"chooseBranch","numberInputs":2,"chooseBranchMode":"waitForAll","output":"specifiedInput","useDataOfInput":2}},{"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-784,-1408],"id":"0854c3c6-bf33-4bd1-8737-fca29ec9175c","name":"Nude Tag ID","disabled":false,"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"b9d8fab2-3db1-48bc-9304-034dad0b0ab2","name":"Nude Tag ID","value":"={{ $json.internal_tags[0].id }}","type":"number"}]},"includeOtherFields":false,"options":{}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c8799c49-1913-4c4e-a723-e25b00aa5258","leftValue":"={{ $json.Keywords }}","rightValue":"Nude","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"looseTypeValidation":false,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1616,-1472],"id":"8d471e39-6026-491d-b8a2-d048a1275fdf","name":"If Nude"},{"id":"d1ec2e89-9ef0-4655-b7c1-5fcf25e523a6","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-1824,-1472],"parameters":{"inputSource":"passthrough"}}],"connections":{"If Nude":{"main":[[]]},"Switch":{"main":[[{"node":"Merge3","type":"main","index":0}],[{"node":"Merge4","type":"main","index":0}],[{"node":"Merge5","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"B/W Tag ID","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Nude Tag ID","type":"main","index":0}]]},"Merge5":{"main":[[{"node":"Color Tag ID","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"f147cbe3-c4c8-4f7f-b132-8975ebd4c56a","triggerCount":0,"shared":[{"createdAt":"2025-09-14T01:32:01.878Z","updatedAt":"2025-09-14T01:32:01.878Z","role":"workflow:owner","workflowId":"SMkwd4a6fZFZ9OLb","projectId":"Q2gWlykIbD5UlvZo"}],"tags":[]}