storyblok-asset-upload-using-aws-and-imgix-hGJU2kVGYbTVQy5A.json
{"createdAt":"2025-09-14T12:57:08.799Z","updatedAt":"2025-09-16T00:00:48.000Z","id":"hGJU2kVGYbTVQy5A","name":"Storyblok Asset Upload Using AWS and IMGIX","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2720,640],"id":"46443f20-e9ba-442a-bdb7-f37be849156d","name":"When clicking ‘Execute workflow’"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-496,752],"id":"0bd8dc95-d533-4c7e-9cb0-068d5c0af16c","name":"Merge"},{"parameters":{"method":"POST","url":"=https://api.storyblok.com/v1/spaces/287018336350621/assets","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filename\": \"{{ $json.name || $binary.data.fileName || 'upload.png' }}\",\n  \"asset_folder_id\": 89875669635386\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,656],"id":"fde9001f-81aa-43d9-8f80-6e6f7b2b381c","name":"Hey Storyblok, I want to upload a file named xyz.png","credentials":{"httpCustomAuth":{"id":"xHLhpsZiYlpyKBRw","name":"storyblok_api"}}},{"parameters":{"method":"POST","url":"={{ $json.post_url }}","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"acl","value":"={{ $json.fields.acl }}"},{"name":"key","value":"={{ $json.fields.key }}"},{"name":"policy","value":"={{ $json.fields.policy }}"},{"name":"x-amz-algorithm","value":"={{ $json.fields['x-amz-algorithm'] }}"},{"name":"x-amz-credential","value":"={{ $json.fields['x-amz-credential'] }}"},{"name":"x-amz-date","value":"={{ $json.fields['x-amz-date'] }}"},{"name":"x-amz-signature","value":"={{ $json.fields['x-amz-signature'] }}"},{"name":"Cache-Control","value":"={{ $json.fields[\"Cache-Control\"] }}"},{"name":"Content-Type","value":"={{ $json.fields[\"Content-Type\"] }}"},{"name":"Expires","value":"={{ $json.fields.Expires }}"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[352,864],"id":"b0588baf-1f9a-485d-a3f8-c84a2f4a88d5","name":"Actually upload the file bytes to S3"},{"parameters":{"assignments":{"assignments":[{"id":"548fe340-8d21-4e2c-b3de-d03ef11f5d58","name":"alt_text","value":"={{ $json.content[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-880,624],"id":"c0dc866b-6a71-4f2c-ac8b-1768d19bc123","name":"Only Keep the Alt Text"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[64,864],"id":"f78f4df8-1ae8-4ba1-84da-39e2c24bbd9d","name":"Merge1"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1200,992],"id":"4dbf1109-aed3-4ec9-9cd2-03afe2b841e9","name":"Wait","webhookId":"e6e91bc8-f477-489b-81fb-50c1eea8ad7e","alwaysOutputData":false,"notesInFlow":true,"notes":"Keep to 5 requests per/min to not exceed Anthropic API rate limit for free account"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1840,624],"id":"8012504b-5bfb-45fa-9082-2f27d6dc4cd8","name":"Loop Over Items","notesInFlow":false},{"parameters":{"assignments":{"assignments":[{"id":"18757c6f-9a4c-4a0a-a08c-79416a5cb87c","name":"SpaceID","value":"287018336350621","type":"string"},{"id":"05461b5e-016c-49a4-9692-26b51acf093a","name":"n8nUploadsFolder","value":"89875669635386","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2224,-32],"id":"9a83a06d-c7c9-4acd-8eeb-b0f3bfb2d138","name":"Storyblok Variables","alwaysOutputData":true},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"claude-opus-4-1-20250805","mode":"list","cachedResultName":"claude-opus-4-1-20250805"},"text":"What's in this image?. Describe what is in this image to be used as the ALT text in the image for website use. Describe in simple terms but be descriptive in its content. Give me just one option. Keep the description short to about 15 words.","imageUrls":"={{ $('IMGIX Small JPEG').item.json.data }}","simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[-1056,624],"id":"f9a8912b-0f83-423d-b1bd-97050e011d75","name":"Analyze image","credentials":{"anthropicApi":{"id":"UtMlB5Xgv7wa9jZD","name":"Anthropic account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[640,752],"id":"ea2689c4-13b1-41f8-a451-68cf43bb538e","name":"Merge2"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1FACch5T_uU5omU3antOsJewot9yV2BotfnKt9SnuSTY","mode":"list","cachedResultName":"Anthropic Usage","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FACch5T_uU5omU3antOsJewot9yV2BotfnKt9SnuSTY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FACch5T_uU5omU3antOsJewot9yV2BotfnKt9SnuSTY/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"date":"={{ $json.date }}","Model":"={{ $json.Model }}","Alt_Text":"={{ $json.Alt_Text }}","Input Tokens":"={{ $json['Input Tokens'] }}","Output Tokens":"={{ $json['Output Tokens'] }}","Input Cost":"={{ $json['Input Cost'] }}","Output Cost":"={{ $json['Output Cost'] }}","Total Cost":"={{ $json['Total Cost'] }}","Name":"={{ $('AWS Test Folder').item.json.Key }}"},"matchingColumns":["name"],"schema":[{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Alt_Text","displayName":"Alt_Text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Model","displayName":"Model","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Input Tokens","displayName":"Input Tokens","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Output Tokens","displayName":"Output Tokens","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Input Cost","displayName":"Input Cost","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Output Cost","displayName":"Output Cost","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Total Cost","displayName":"Total Cost","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1200,752],"id":"d0f0de14-d825-42ca-8437-cc2d34ac057b","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"jp8rdxdrCym9PkF2","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a887d848-8e0f-4134-baa7-b85f86b52fa3","name":"name","value":"={{ $('Merge').item.json.name }}","type":"string"},{"id":"d1dafc62-724f-462b-ad49-ac2cc163eb3a","name":"id","value":"={{ $('Merge').item.json.id }}","type":"string"},{"id":"b9806c4d-dd37-4dbe-aa8c-5a9c16798360","name":"alt_text","value":"={{ $('Merge').item.json.alt_text }}","type":"string"},{"id":"364205d8-235d-4b2f-af56-2230d05a373d","name":"model","value":"={{ $('Analyze image').item.json.model }}","type":"string"},{"id":"2522deb9-25ea-40d2-b730-21b79de3ff1f","name":"input_tokens","value":"={{ $('Analyze image').item.json.usage.input_tokens }}","type":"number"},{"id":"b359e512-3cf5-4565-ab06-f5d4f0f63920","name":"output_tokens","value":"={{ $('Analyze image').item.json.usage.output_tokens }}","type":"number"},{"id":"e8503c48-82e9-4e36-96ab-0044116b1d97","name":"input price","value":"={{ ($('Analyze image').item.json.usage.input_tokens * 15) / 1000000 }}","type":"number"},{"id":"ea83f34f-ef91-4c1a-b35a-d64e2f36b94a","name":"output price","value":"={{ ($('Analyze image').item.json.usage.output_tokens * 75) / 1000000 }}","type":"number"},{"id":"7e40e0ef-ff60-467c-bbb1-9cb38efe63bb","name":"date","value":"={{ $today }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,752],"id":"393fe557-9992-4d3b-a971-95702ba42d8b","name":"Anthropic Data"},{"parameters":{"assignments":{"assignments":[{"id":"e7339b5a-2d51-42b6-b56c-a7f90d5f3527","name":"date","value":"={{ $now.toFormat('MM-dd-yy HH:mm:ss') }}","type":"string"},{"id":"17361bb4-8e20-4a93-9fbf-f69bb3d710ff","name":"Name","value":"={{ $json.name }}","type":"string"},{"id":"12f52c22-b32a-4f4a-a04a-8a966e6df28a","name":"ID","value":"={{ $json.id }}","type":"string"},{"id":"ae385ab3-5b92-48b1-8acf-4c01bc22d1b4","name":"Alt_Text","value":"={{ $json.alt_text }}","type":"string"},{"id":"933bb2c5-85bd-47c7-ac90-63920fa39016","name":"Model","value":"={{ $json.model }}","type":"string"},{"id":"5063ca0b-65c1-4c90-a3f9-d057caa339c4","name":"Input Tokens","value":"={{ $json.input_tokens }}","type":"number"},{"id":"7bfdab36-c30f-4fb5-869b-db5971af6d29","name":"Output Tokens","value":"={{ $json.output_tokens }}","type":"number"},{"id":"fcd29ea8-ea74-46f0-934e-7a456b6812df","name":"Input Cost","value":"={{ $json['input price'] }}","type":"number"},{"id":"5539eb1f-c6d6-4bde-b962-db51987cf0a6","name":"Output Cost","value":"={{ $json['output price'] }}","type":"number"},{"id":"46408680-74a4-4062-846f-3f70701669fd","name":"Total Cost","value":"={{ $json['input price'] + $json['output price']}}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[992,752],"id":"f153e080-5f19-4c6b-a71b-92517926d0b2","name":"Data & Calculations"},{"parameters":{"url":"https://mapi.storyblok.com/v1/spaces/287018336350621/assets","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2224,-256],"id":"89e25646-bd81-41e7-8654-42f3c8207eb4","name":"Storyblok Assets ID Numbers","credentials":{"httpBasicAuth":{"id":"MPjht9fEc4Xo1nK5","name":"Tiny PNG API"},"httpCustomAuth":{"id":"xHLhpsZiYlpyKBRw","name":"storyblok_api"}}},{"parameters":{"method":"PUT","url":"=https://api.storyblok.com/v1/spaces/287018336350621/assets/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"asset\": {\n    \"alt\": \"{{ $('Merge').item.json.alt_text || '' }}\",\n    \"internal_tag_ids\": [{{ \n  ($('Merge').item.json.matched_tags || [])\n    .map(t => Number(t.id))\n    .filter(id => id !== undefined && id !== null)\n}}]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[352,656],"id":"f66f6ff7-7610-44d9-88ad-799e1d055247","name":"Alt Text & Tags","credentials":{"httpCustomAuth":{"id":"xHLhpsZiYlpyKBRw","name":"storyblok_api"}}},{"parameters":{"jsCode":"// Storyblok node that runs OUTSIDE the loop:\nconst sb = $items('Photo Tag IDs from Storyblok')[0]?.json || {};    // <-- use your exact node name\nconst tags = Array.isArray(sb.internal_tags) ? sb.internal_tags : []; // [{id,name,slug?...}]\n\n// Keywords on the CURRENT loop item:\nconst kwRaw = $json.Keywords ?? [];\nconst keywords = Array.isArray(kwRaw)\n  ? kwRaw\n  : String(kwRaw).split(',').map(s => s.trim()).filter(Boolean);\n\nconst norm = v => String(v ?? '').toLowerCase().trim();\n\nconst matched_tags = tags.filter(t =>\n  keywords.some(k =>\n    norm(t.name) === norm(k) || norm(t.slug) === norm(k)\n  )\n);\n\n// keep original fields and add matched_tags\nreturn [{ json: { ...$json, matched_tags } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-736,416],"id":"b0cb2cd8-3ed5-42d9-9cb4-3fa7dbd59a48","name":"Keyword Match"},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-2112,624],"id":"c946e5cd-51e6-4e8d-8a7a-6720f306fe03","name":"Wait for data"},{"parameters":{"content":"Storyblok Rate Limit for Starter Account\n\n-100k API Requests/month\n-Management API rate limit is 3 calls per second","height":128,"width":384},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1904,192],"id":"88019509-f634-4bd0-9f03-2cea581eb582","name":"Sticky Note"},{"parameters":{"content":"Anthropic API Rate Limit\n\n-5 API Requests/minute","height":96,"width":384,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1904,80],"id":"953dc081-5a9a-42b6-ba5c-bc7267c96b41","name":"Sticky Note1"},{"parameters":{"content":"TinyPNG API Rate Limit\n\n-500 conversions/month","height":96,"width":384,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1904,336],"id":"93592aa4-c81f-4020-bf07-201a5905bab3","name":"Sticky Note2"},{"parameters":{"jsCode":"const format = \"jpg\";   // image format (jpg, png, webp, etc.)\nconst quality = 60;     // quality setting in %\nconst height = 0.25;    // height setting in % (ie: 50% = 0.5)\n\n// Get the sanitized filename from the other node\nconst safeFileName = $node[\"Sanitize Filename\"].json.safeFileName;\n\nreturn $input.all().map(item => {\n  return {\n    json: {\n      data: `https://syreart-test.imgix.net/${safeFileName}?fm=${format}&q=${quality}&h=${height}`\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1360,544],"id":"1e790078-aee2-4b22-95f8-3f0d233d0e4f","name":"IMGIX Small JPEG"},{"parameters":{"operation":"getAll","bucketName":"syre-artwork","returnAll":true,"options":{"folderKey":"test/"}},"type":"n8n-nodes-base.awsS3","typeVersion":2,"position":[-2304,480],"id":"c85828de-09b3-4b8c-ba9d-26f0db25154c","name":"AWS Test Folder","credentials":{"aws":{"id":"rCBH7g4Z1lUT9EgZ","name":"Syre AWS API"}}},{"parameters":{"url":"={{ $json.data }}&fm=json","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1136,432],"id":"ef553c0e-ede4-4953-ad51-83a1487f9e0e","name":"Get Metadata from IMGIX","onError":"continueErrorOutput"},{"parameters":{"url":"=https://syreart-test.imgix.net/{{ $json.safeFileName }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1360,800],"id":"a0863597-75a0-4885-b26e-217f8b52d36a","name":"IMGIX Original"},{"parameters":{"url":"https://mapi.storyblok.com/v1/spaces/287018336350621/internal_tags","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","options":{"batching":{"batch":{"batchSize":5}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2512,640],"id":"ec00f31d-a964-496c-a52d-3cb41f6d0a01","name":"Photo Tag IDs from Storyblok","credentials":{"httpBasicAuth":{"id":"MPjht9fEc4Xo1nK5","name":"Tiny PNG API"},"httpCustomAuth":{"id":"xHLhpsZiYlpyKBRw","name":"storyblok_api"}}},{"parameters":{"url":"https://api.imgix.com/api/v1/sources/","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.api+json"},{"name":"Content-Type","value":"application/vnd.api+json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1360,-304],"id":"d286bfb8-d106-4216-8433-ee8dfe43d47a","name":"HTTP Request","credentials":{"httpBearerAuth":{"id":"Wxp4CfZrklwOLcdo","name":"Syre IMGIX Bearer Token"}}},{"parameters":{"assignments":{"assignments":[{"id":"86c5caaa-c29a-4ff1-bc85-abf389d2b965","name":"Bucket Name","value":"={{ $json.attributes.deployment.s3_bucket }}","type":"string"},{"id":"f041a690-41e3-468a-b3a9-3eb64a1485d3","name":"ID","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-960,-304],"id":"9e3c004a-b420-438c-b398-fee8346400c6","name":"Edit Fields"},{"parameters":{"jsCode":"// Your original input\nconst raw = $input.first().json.data;  // or however your node outputs it\n\n// Parse the string into JSON\nconst parsed = JSON.parse(raw);\n\n// Extract only the `data` array\nreturn parsed.data;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1152,-304],"id":"422d5463-dbc6-4c4d-ae95-e658687253d3","name":"Clean Up JSON Response"},{"parameters":{"url":"=https://api.imgix.com/api/v1/sources/{{ $json.ID }}/assets","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.api+json"},{"name":"Content-Type","value":"application/vnd.api+json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-784,-304],"id":"a11fdb64-d8d1-410e-9820-091ed8ab2c79","name":"HTTP Request1","credentials":{"httpBearerAuth":{"id":"Wxp4CfZrklwOLcdo","name":"Syre IMGIX Bearer Token"}}},{"parameters":{"jsCode":"// Your original input\nconst raw = $input.first().json.data;  // or however your node outputs it\n\n// Parse the string into JSON\nconst parsed = JSON.parse(raw);\n\n// Extract only the `data` array\nreturn parsed.data;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-576,-304],"id":"89779457-8c08-48e5-9c1f-f20615bf51bb","name":"Clean Up JSON Response1"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const rawKey = $input.first().json.Key;   // e.g. \"Nude in Bed #1.jpg\"\n\n  // Encode each path segment but keep \"/\" intact\n  const safeFileName = rawKey\n    .split(\"/\")\n    .map(seg => encodeURIComponent(seg))\n    .join(\"/\");\n\n  return {\n    json: {\n      safeFileName\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1600,640],"id":"2178ed3f-104e-41e8-915c-3701e6794b25","name":"Sanitize Filename"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1IYVeC0t_uQ2uTG4un4y-rdUodtsnM-oFNMJg8eUqCmc","mode":"list","cachedResultName":"n8n_error_log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IYVeC0t_uQ2uTG4un4y-rdUodtsnM-oFNMJg8eUqCmc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IYVeC0t_uQ2uTG4un4y-rdUodtsnM-oFNMJg8eUqCmc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"File Name":"={{ $('Loop Over Items').item.json.Key }}","Time":"={{ $now }}","Error":"={{ $json.error.message }}","Message":"={{ $json.error.stack }}"},"matchingColumns":["File Name"],"schema":[{"id":"File Name","displayName":"File Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Time","displayName":"Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Error","displayName":"Error","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Message","displayName":"Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-928,240],"id":"26e32308-dc4b-48fb-b7d0-b39959fcbeaa","name":"Error Log","credentials":{"googleSheetsOAuth2Api":{"id":"jp8rdxdrCym9PkF2","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"9c200b0e-0bfc-4075-9470-328eb35d804a","name":"Name","value":"={{ $json.IPTC.ObjectName }}","type":"string"},{"id":"a581f01f-b0f6-4319-9da4-2481ea3ca123","name":"Keywords","value":"={{ $json.IPTC.Keywords }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-928,416],"id":"fae2caa0-ad6c-476e-9a69-44cef358477e","name":"Selected Exif Data"},{"parameters":{"chatId":"1951007350","text":"Hello World!","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-400,352],"id":"b636eca8-9c12-4beb-8481-31f842192b7d","name":"Send a text message","webhookId":"069a4b91-f8dc-41d4-aa9e-6e8848cadd20","credentials":{"telegramApi":{"id":"z1CTme1y8LPRGZVw","name":"Telegram account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Photo Tag IDs from Storyblok","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Hey Storyblok, I want to upload a file named xyz.png","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"Hey Storyblok, I want to upload a file named xyz.png":{"main":[[{"node":"Merge1","type":"main","index":0},{"node":"Alt Text & Tags","type":"main","index":0}]]},"Only Keep the Alt Text":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Actually upload the file bytes to S3","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Sanitize Filename","type":"main","index":0}]]},"Storyblok Variables":{"main":[[]]},"Actually upload the file bytes to S3":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Analyze image":{"main":[[{"node":"Only Keep the Alt Text","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Anthropic Data","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Anthropic Data":{"main":[[{"node":"Data & Calculations","type":"main","index":0}]]},"Data & Calculations":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Storyblok Assets ID Numbers":{"main":[[]]},"Alt Text & Tags":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Keyword Match":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Wait for data":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"AWS Test Folder":{"main":[[{"node":"Wait for data","type":"main","index":0}]]},"IMGIX Small JPEG":{"main":[[{"node":"Get Metadata from IMGIX","type":"main","index":0},{"node":"Analyze image","type":"main","index":0}]]},"Get Metadata from IMGIX":{"main":[[{"node":"Selected Exif Data","type":"main","index":0}],[{"node":"Error Log","type":"main","index":0}]]},"IMGIX Original":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Photo Tag IDs from Storyblok":{"main":[[{"node":"Wait for data","type":"main","index":1},{"node":"AWS Test Folder","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Clean Up JSON Response","type":"main","index":0}]]},"Clean Up JSON Response":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Clean Up JSON Response1","type":"main","index":0}]]},"Sanitize Filename":{"main":[[{"node":"IMGIX Small JPEG","type":"main","index":0},{"node":"IMGIX Original","type":"main","index":0}]]},"Selected Exif Data":{"main":[[{"node":"Keyword Match","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"15a5c72f-ee66-4562-a9bd-c035154eabde","triggerCount":0,"shared":[{"createdAt":"2025-09-14T12:57:08.804Z","updatedAt":"2025-09-14T12:57:08.804Z","role":"workflow:owner","workflowId":"hGJU2kVGYbTVQy5A","projectId":"Q2gWlykIbD5UlvZo"}],"tags":[]}