storyblok-asset-upload-copy-m0R7q5qDMqgT0vUB.json
{"createdAt":"2025-09-12T16:36:41.688Z","updatedAt":"2025-09-12T16:37:27.000Z","id":"m0R7q5qDMqgT0vUB","name":"Storyblok Asset Upload copy","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1664,400],"id":"0fc58445-673d-4a35-9b23-b2bc4e0859a1","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1ymaxK_cUW-ZOZxqqyIp3UK73LHyk_7wh","mode":"list","cachedResultName":"storyblok_assets_2","cachedResultUrl":"https://drive.google.com/drive/folders/1ymaxK_cUW-ZOZxqqyIp3UK73LHyk_7wh"}},"options":{"fields":["id","name","mimeType"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1440,400],"id":"39075d9e-2851-4aa3-808e-435156cf4734","name":"Search files and folders","credentials":{"googleDriveOAuth2Api":{"id":"apDatjbE1DkM08Tf","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-704,400],"id":"bf962011-076f-4389-a475-cb642136e31a","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"apDatjbE1DkM08Tf","name":"Google Drive account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a05ad108-9f3a-46d9-bf4d-6bf8cb82843d","leftValue":"={{ $json.name }}","rightValue":"Verizon.png","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-960,416],"id":"40130527-6028-46e5-87bb-eb42a5aab215","name":"If"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[304,416],"id":"fcc42cd5-8f10-424d-8e5b-130cfb941860","name":"Merge"},{"parameters":{"method":"POST","url":"=https://api.storyblok.com/v1/spaces/287018336350621/assets","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filename\": \"{{ $json.name || $binary.data.fileName || 'upload.png' }}\",\n  \"asset_folder_id\": 89875669635386\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,224],"id":"64250720-009f-490f-bc2a-125e664e2f03","name":"Hey Storyblok, I want to upload a file named xyz.png","credentials":{"httpCustomAuth":{"id":"xHLhpsZiYlpyKBRw","name":"storyblok_api"}}},{"parameters":{"method":"POST","url":"={{ $json.post_url }}","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"acl","value":"={{ $json.fields.acl }}"},{"name":"key","value":"={{ $json.fields.key }}"},{"name":"policy","value":"={{ $json.fields.policy }}"},{"name":"x-amz-algorithm","value":"={{ $json.fields['x-amz-algorithm'] }}"},{"name":"x-amz-credential","value":"={{ $json.fields['x-amz-credential'] }}"},{"name":"x-amz-date","value":"={{ $json.fields['x-amz-date'] }}"},{"name":"x-amz-signature","value":"={{ $json.fields['x-amz-signature'] }}"},{"name":"Cache-Control","value":"={{ $json.fields[\"Cache-Control\"] }}"},{"name":"Content-Type","value":"={{ $json.fields[\"Content-Type\"] }}"},{"name":"Expires","value":"={{ $json.fields.Expires }}"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[976,576],"id":"0fc88a02-4782-47e4-ba53-5c1df3240eb3","name":"Actually upload the file bytes to S3"},{"parameters":{"assignments":{"assignments":[{"id":"548fe340-8d21-4e2c-b3de-d03ef11f5d58","name":"alt_text","value":"={{ $json.content[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,592],"id":"4af974bc-9dcd-45a2-ac1b-27bf90875a3f","name":"Only Keep the Alt Text"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[784,400],"id":"e1575d85-7db5-4190-816a-120785024676","name":"Merge1"},{"parameters":{"method":"PUT","url":"=https://api.storyblok.com/v1/spaces/287018336350621/assets/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"asset\": {\n    \"alt\": \"{{ $('Merge').item.json.alt_text || '' }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,112],"id":"7acbc754-2bb5-4230-96e3-2e558f74e01c","name":"Alt Text","credentials":{"httpCustomAuth":{"id":"xHLhpsZiYlpyKBRw","name":"storyblok_api"}}},{"parameters":{"url":"={{ $json.output.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-288,592],"id":"a96adfc6-539a-4b04-9e74-55c486da79a6","name":"Get Image from TinyPNG"},{"parameters":{"method":"POST","url":"https://api.tinify.com/shrink","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-496,592],"id":"390a2d9f-2609-4da1-9a1f-def2164610b4","name":"Send Image to TinyPNG","credentials":{"httpBasicAuth":{"id":"MPjht9fEc4Xo1nK5","name":"Tiny PNG API"}}},{"parameters":{"amount":60.5,"path":"de010d1b-839a-44ec-91ff-68ae60a9570d"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1312,640],"id":"671cdc0d-6957-4091-840a-36c62f425d99","name":"Wait","webhookId":"de010d1b-839a-44ec-91ff-68ae60a9570d"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1200,400],"id":"50eeb6e9-d71e-4b6e-a721-dc00097e6d74","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"18757c6f-9a4c-4a0a-a08c-79416a5cb87c","name":"SpaceID","value":"287018336350621","type":"string"},{"id":"05461b5e-016c-49a4-9692-26b51acf093a","name":"n8nUploadsFolder","value":"89875669635386","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,112],"id":"6fdc030c-d98f-40cb-80f3-90e85b630d56","name":"Storyblok Variables","alwaysOutputData":true},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"claude-opus-4-1-20250805","mode":"list","cachedResultName":"claude-opus-4-1-20250805"},"text":"What's in this image? describe what is in this image to be used as the ALT text in the image for website use. Describe in simple terms but be descriptive in its content. Give me just one option. Keep the description short to about 15 words.","inputType":"binary","simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[-112,592],"id":"f599cfbd-d603-4914-8c90-9c7d36ac7169","name":"Analyze image","credentials":{"anthropicApi":{"id":"UtMlB5Xgv7wa9jZD","name":"Anthropic account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Send Image to TinyPNG","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"If":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Hey Storyblok, I want to upload a file named xyz.png","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"Hey Storyblok, I want to upload a file named xyz.png":{"main":[[{"node":"Merge1","type":"main","index":0},{"node":"Alt Text","type":"main","index":0}]]},"Only Keep the Alt Text":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Actually upload the file bytes to S3","type":"main","index":0}]]},"Get Image from TinyPNG":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Send Image to TinyPNG":{"main":[[{"node":"Get Image from TinyPNG","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"Storyblok Variables":{"main":[[]]},"Alt Text":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Actually upload the file bytes to S3":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Only Keep the Alt Text","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"2b738cb8-67ed-40db-bf7e-4bf3a73e9344","triggerCount":0,"shared":[{"createdAt":"2025-09-12T16:36:41.695Z","updatedAt":"2025-09-12T16:36:41.695Z","role":"workflow:owner","workflowId":"m0R7q5qDMqgT0vUB","projectId":"Q2gWlykIbD5UlvZo"}],"tags":[]}