storyblok-asset-upload-a6VwpnawS9Ys1vr0.json
{"createdAt":"2025-09-12T15:15:10.885Z","updatedAt":"2025-09-14T13:22:27.000Z","id":"a6VwpnawS9Ys1vr0","name":"Storyblok Asset Upload","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2160,320],"id":"145cc90d-1f21-4b27-ad9d-e5eeef2ff45b","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1ymaxK_cUW-ZOZxqqyIp3UK73LHyk_7wh","mode":"list","cachedResultName":"n8n_storyblok_assets","cachedResultUrl":"https://drive.google.com/drive/folders/1ymaxK_cUW-ZOZxqqyIp3UK73LHyk_7wh"}},"options":{"fields":["id","name","mimeType"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1744,176],"id":"e71bb395-f331-4c43-b21f-7a9d9600bec6","name":"Search files and folders","credentials":{"googleDriveOAuth2Api":{"id":"apDatjbE1DkM08Tf","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-896,320],"id":"a9abff01-4644-4a38-9049-6a389243fe5b","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"apDatjbE1DkM08Tf","name":"Google Drive account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[576,288],"id":"ef73a8a7-a819-4509-ad63-ad28eaf890a9","name":"Merge"},{"parameters":{"method":"POST","url":"=https://api.storyblok.com/v1/spaces/287018336350621/assets","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filename\": \"{{ $json.name || $binary.data.fileName || 'upload.png' }}\",\n  \"asset_folder_id\": 89875669635386\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,96],"id":"26ac3c1a-8185-4880-abea-7fcfb0fc68f3","name":"Hey Storyblok, I want to upload a file named xyz.png","credentials":{"httpCustomAuth":{"id":"xHLhpsZiYlpyKBRw","name":"storyblok_api"}}},{"parameters":{"method":"POST","url":"={{ $json.post_url }}","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"acl","value":"={{ $json.fields.acl }}"},{"name":"key","value":"={{ $json.fields.key }}"},{"name":"policy","value":"={{ $json.fields.policy }}"},{"name":"x-amz-algorithm","value":"={{ $json.fields['x-amz-algorithm'] }}"},{"name":"x-amz-credential","value":"={{ $json.fields['x-amz-credential'] }}"},{"name":"x-amz-date","value":"={{ $json.fields['x-amz-date'] }}"},{"name":"x-amz-signature","value":"={{ $json.fields['x-amz-signature'] }}"},{"name":"Cache-Control","value":"={{ $json.fields[\"Cache-Control\"] }}"},{"name":"Content-Type","value":"={{ $json.fields[\"Content-Type\"] }}"},{"name":"Expires","value":"={{ $json.fields.Expires }}"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1472,288],"id":"ad2777a2-1e6c-45db-ad6b-47192d1f59f5","name":"Actually upload the file bytes to S3"},{"parameters":{"assignments":{"assignments":[{"id":"548fe340-8d21-4e2c-b3de-d03ef11f5d58","name":"alt_text","value":"={{ $json.content[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,592],"id":"00e94d6a-3414-470f-8604-2181314ee8a8","name":"Only Keep the Alt Text"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1184,288],"id":"890648db-2642-4581-8f6e-4b62cdac27dd","name":"Merge1"},{"parameters":{"url":"={{ $json.output.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-272,592],"id":"6360d03d-738a-4e4a-8387-dae6ded8ad72","name":"Get Image from TinyPNG"},{"parameters":{"method":"POST","url":"https://api.tinify.com/shrink","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,592],"id":"12adea99-2dbd-4513-b878-af4a0f00353d","name":"Send Image to TinyPNG","credentials":{"httpBasicAuth":{"id":"MPjht9fEc4Xo1nK5","name":"Tiny PNG API"}}},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2032,720],"id":"22bce238-d4b9-46c1-b16a-8ab6c4cb9370","name":"Wait","webhookId":"6aa56c05-93e1-45b1-934e-f61e0e237e8a","alwaysOutputData":false,"notesInFlow":true,"notes":"Keep to 5 requests per/min to not exceed Anthropic API rate limit for free account"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1168,304],"id":"bff0b7ff-1a13-4ea7-a8ec-59775cec9e68","name":"Loop Over Items","notesInFlow":false},{"parameters":{"assignments":{"assignments":[{"id":"18757c6f-9a4c-4a0a-a08c-79416a5cb87c","name":"SpaceID","value":"287018336350621","type":"string"},{"id":"05461b5e-016c-49a4-9692-26b51acf093a","name":"n8nUploadsFolder","value":"89875669635386","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1776,-224],"id":"1d9fad08-780c-4259-9637-f6299268bf55","name":"Storyblok Variables","alwaysOutputData":true},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"claude-opus-4-1-20250805","mode":"list","cachedResultName":"claude-opus-4-1-20250805"},"text":"What's in this image? describe what is in this image to be used as the ALT text in the image for website use. Describe in simple terms but be descriptive in its content. Give me just one option. Keep the description short to about 15 words.","inputType":"binary","simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[-80,592],"id":"854a2fd6-95d1-4fbd-b6d4-658d6a3b52f8","name":"Analyze image","credentials":{"anthropicApi":{"id":"UtMlB5Xgv7wa9jZD","name":"Anthropic account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1760,176],"id":"ddee6291-7f86-4732-95f9-d8c22d980fc9","name":"Merge2"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1FACch5T_uU5omU3antOsJewot9yV2BotfnKt9SnuSTY","mode":"list","cachedResultName":"Anthropic Usage","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FACch5T_uU5omU3antOsJewot9yV2BotfnKt9SnuSTY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FACch5T_uU5omU3antOsJewot9yV2BotfnKt9SnuSTY/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{"Total":"={{ $json.Total }}"},"matchingColumns":["name"],"schema":[{"id":"Total","displayName":"Total","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2320,176],"id":"8825b163-bb6d-4736-b241-469b4c3a42e2","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"jp8rdxdrCym9PkF2","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-exif-data.exifData","typeVersion":1,"position":[-368,32],"id":"2312fbba-31ff-4f9e-9e44-8220e24bed29","name":"EXIF Data"},{"parameters":{"assignments":{"assignments":[{"id":"a887d848-8e0f-4134-baa7-b85f86b52fa3","name":"name","value":"={{ $('Merge').item.json.name }}","type":"string"},{"id":"d1dafc62-724f-462b-ad49-ac2cc163eb3a","name":"id","value":"={{ $('Merge').item.json.id }}","type":"string"},{"id":"b9806c4d-dd37-4dbe-aa8c-5a9c16798360","name":"alt_text","value":"={{ $('Merge').item.json.alt_text }}","type":"string"},{"id":"364205d8-235d-4b2f-af56-2230d05a373d","name":"model","value":"={{ $('Analyze image').item.json.model }}","type":"string"},{"id":"2522deb9-25ea-40d2-b730-21b79de3ff1f","name":"input_tokens","value":"={{ $('Analyze image').item.json.usage.input_tokens }}","type":"number"},{"id":"b359e512-3cf5-4565-ab06-f5d4f0f63920","name":"output_tokens","value":"={{ $('Analyze image').item.json.usage.output_tokens }}","type":"number"},{"id":"e8503c48-82e9-4e36-96ab-0044116b1d97","name":"input price","value":"={{ ($('Analyze image').item.json.usage.input_tokens * 15) / 1000000 }}","type":"number"},{"id":"ea83f34f-ef91-4c1a-b35a-d64e2f36b94a","name":"output price","value":"={{ ($('Analyze image').item.json.usage.output_tokens * 75) / 1000000 }}","type":"number"},{"id":"7e40e0ef-ff60-467c-bbb1-9cb38efe63bb","name":"date","value":"={{ $today }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1936,176],"id":"8f62418f-4187-467f-9564-22f6546616d7","name":"Anthropic Data"},{"parameters":{"assignments":{"assignments":[{"id":"e7339b5a-2d51-42b6-b56c-a7f90d5f3527","name":"date","value":"={{ $now.toFormat('MM-dd-yy HH:mm:ss') }}","type":"string"},{"id":"17361bb4-8e20-4a93-9fbf-f69bb3d710ff","name":"Name","value":"={{ $json.name }}","type":"string"},{"id":"12f52c22-b32a-4f4a-a04a-8a966e6df28a","name":"ID","value":"={{ $json.id }}","type":"string"},{"id":"ae385ab3-5b92-48b1-8acf-4c01bc22d1b4","name":"Alt_Text","value":"={{ $json.alt_text }}","type":"string"},{"id":"933bb2c5-85bd-47c7-ac90-63920fa39016","name":"Model","value":"={{ $json.model }}","type":"string"},{"id":"5063ca0b-65c1-4c90-a3f9-d057caa339c4","name":"Input Tokens","value":"={{ $json.input_tokens }}","type":"number"},{"id":"7bfdab36-c30f-4fb5-869b-db5971af6d29","name":"Output Tokens","value":"={{ $json.output_tokens }}","type":"number"},{"id":"fcd29ea8-ea74-46f0-934e-7a456b6812df","name":"Input Cost","value":"={{ $json['input price'] }}","type":"number"},{"id":"5539eb1f-c6d6-4bde-b962-db51987cf0a6","name":"Output Cost","value":"={{ $json['output price'] }}","type":"number"},{"id":"46408680-74a4-4062-846f-3f70701669fd","name":"Total Cost","value":"={{ $json['input price'] + $json['output price']}}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2112,176],"id":"b833ec18-4318-436a-9db5-1147ffa079cc","name":"Data & Calculations"},{"parameters":{"url":"https://mapi.storyblok.com/v1/spaces/287018336350621/assets","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1776,-448],"id":"e76ddfcc-606f-4d17-b955-f8863a39b252","name":"Storyblok Assets ID Numbers","credentials":{"httpBasicAuth":{"id":"MPjht9fEc4Xo1nK5","name":"Tiny PNG API"},"httpCustomAuth":{"id":"xHLhpsZiYlpyKBRw","name":"storyblok_api"}}},{"parameters":{"method":"PUT","url":"=https://api.storyblok.com/v1/spaces/287018336350621/assets/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"asset\": {\n    \"alt\": \"{{ $('Merge').item.json.alt_text || '' }}\",\n    \"internal_tag_ids\": [{{ \n  ($('Merge').item.json.matched_tags || [])\n    .map(t => Number(t.id))\n    .filter(id => id !== undefined && id !== null)\n}}]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1472,96],"id":"fdfe98b4-408a-4789-afa8-9f1b74c267fc","name":"Alt Text & Tags","credentials":{"httpCustomAuth":{"id":"xHLhpsZiYlpyKBRw","name":"storyblok_api"}}},{"parameters":{"assignments":{"assignments":[{"id":"9c200b0e-0bfc-4075-9470-328eb35d804a","name":"Name","value":"={{ $('EXIF Data').item.json.name }}","type":"string"},{"id":"a581f01f-b0f6-4319-9da4-2481ea3ca123","name":"Keywords","value":"={{ $json.exifData.Keywords }}","type":"array"},{"id":"ea13c995-46ba-4f1d-af86-294506aceca2","name":"Format","value":"={{ $json.exifData.Format }}","type":"string"},{"id":"18f38238-1bd5-417c-956d-426a675ce8ca","name":"ImageSize","value":"={{ $json.exifData.ImageSize }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-144,32],"id":"d43c97b0-55c8-4cce-bc26-4bdeabacdf9b","name":"Clean Up Exif Data"},{"parameters":{"jsCode":"// Storyblok node that runs OUTSIDE the loop:\nconst sb = $items('Photo Tag IDs')[0]?.json || {};    // <-- use your exact node name\nconst tags = Array.isArray(sb.internal_tags) ? sb.internal_tags : []; // [{id,name,slug?...}]\n\n// Keywords on the CURRENT loop item:\nconst kwRaw = $json.Keywords ?? [];\nconst keywords = Array.isArray(kwRaw)\n  ? kwRaw\n  : String(kwRaw).split(',').map(s => s.trim()).filter(Boolean);\n\nconst norm = v => String(v ?? '').toLowerCase().trim();\n\nconst matched_tags = tags.filter(t =>\n  keywords.some(k =>\n    norm(t.name) === norm(k) || norm(t.slug) === norm(k)\n  )\n);\n\n// keep original fields and add matched_tags\nreturn [{ json: { ...$json, matched_tags } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[64,32],"id":"e0a1cf1c-66dd-45e7-b1cc-b77623f66d2a","name":"Keyword Match"},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1552,304],"id":"3cdfdf36-5ecf-42bd-ad94-fccaa67b1c7d","name":"Wait for data"},{"parameters":{"content":"Storyblok Rate Limit for Starter Account\n\n-100k API Requests/month\n-Management API rate limit is 3 calls per second","height":128,"width":384},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1408,-192],"id":"4fa8bd41-4135-4e0e-82e9-7ef9b2bb051c","name":"Sticky Note"},{"parameters":{"content":"Anthropic API Rate Limit\n\n-5 API Requests/minute","height":96,"width":384,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1408,-304],"id":"9032dd65-1218-4a76-a861-20d3ed6d3009","name":"Sticky Note1"},{"parameters":{"url":"https://mapi.storyblok.com/v1/spaces/287018336350621/internal_tags","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","options":{"batching":{"batch":{"batchSize":5}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1952,320],"id":"362af277-fa9e-4fab-b4cd-3820c7de6c64","name":"Photo Tag IDs","credentials":{"httpBasicAuth":{"id":"MPjht9fEc4Xo1nK5","name":"Tiny PNG API"},"httpCustomAuth":{"id":"xHLhpsZiYlpyKBRw","name":"storyblok_api"}}},{"parameters":{"content":"TinyPNG API Rate Limit\n\n-500 conversions/month","height":96,"width":384,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1408,-48],"id":"4e1ef99d-d7fd-4aa6-af95-e37299acf9b2","name":"Sticky Note2"},{"parameters":{"jsCode":"const format = \"jpg\";   // image format (jpg, png, webp, etc.)\nconst quality = 60;     // quality setting in %\nconst height = 0.25;    // height setting in % (ie: 50% = 0.5)\n\nreturn $input.all().map(item => {\n  return {\n    json: {\n      data: `https://syreart-test.imgix.net/${$input.first().json.Key}?fm=${format}&q=${quality}&h=${height}`\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-416,-528],"id":"af837cf2-5015-44fc-9f02-5c0cdb5ab453","name":"IMGIX Small JPEG"},{"parameters":{"operation":"getAll","bucketName":"syre-artwork","returnAll":true,"options":{"folderKey":"test/"}},"type":"n8n-nodes-base.awsS3","typeVersion":2,"position":[-720,-528],"id":"30d432d1-f571-4c81-9842-6b478dcda693","name":"AWS Test Folder","credentials":{"aws":{"id":"rCBH7g4Z1lUT9EgZ","name":"AWS account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Photo Tag IDs","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"Wait for data","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Send Image to TinyPNG","type":"main","index":0},{"node":"EXIF Data","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Hey Storyblok, I want to upload a file named xyz.png","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"Hey Storyblok, I want to upload a file named xyz.png":{"main":[[{"node":"Merge1","type":"main","index":0},{"node":"Alt Text & Tags","type":"main","index":0}]]},"Only Keep the Alt Text":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Merge1":{"main":[[{"node":"Actually upload the file bytes to S3","type":"main","index":0}]]},"Get Image from TinyPNG":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Send Image to TinyPNG":{"main":[[{"node":"Get Image from TinyPNG","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Download file","type":"main","index":0}]]},"Storyblok Variables":{"main":[[]]},"Actually upload the file bytes to S3":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Analyze image":{"main":[[{"node":"Only Keep the Alt Text","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Anthropic Data","type":"main","index":0}]]},"Append row in sheet":{"main":[[]]},"EXIF Data":{"main":[[{"node":"Clean Up Exif Data","type":"main","index":0}]]},"Anthropic Data":{"main":[[{"node":"Data & Calculations","type":"main","index":0}]]},"Data & Calculations":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Storyblok Assets ID Numbers":{"main":[[]]},"Alt Text & Tags":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Clean Up Exif Data":{"main":[[{"node":"Keyword Match","type":"main","index":0}]]},"Keyword Match":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Wait for data":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Photo Tag IDs":{"main":[[{"node":"Search files and folders","type":"main","index":0},{"node":"Wait for data","type":"main","index":1}]]},"AWS Test Folder":{"main":[[{"node":"IMGIX Small JPEG","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c99a6f7b-32d9-4fe9-b8d2-815ba4957a95","triggerCount":0,"shared":[{"createdAt":"2025-09-12T15:15:10.906Z","updatedAt":"2025-09-12T15:15:10.906Z","role":"workflow:owner","workflowId":"a6VwpnawS9Ys1vr0","projectId":"Q2gWlykIbD5UlvZo"}],"tags":[]}