syre-art-airtable-uploads-kGULdJCqcoxV9OzQ.json
{"createdAt":"2025-09-12T16:05:10.046Z","updatedAt":"2025-09-16T00:00:12.000Z","id":"kGULdJCqcoxV9OzQ","name":"Syre Art Airtable Uploads","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"webhook","options":{"binaryPropertyName":"data"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-784,112],"id":"bda7bd85-7c3e-4721-806e-c6a5273ffcb9","name":"Webhook","webhookId":"efe4ebf3-0e60-4ae3-a7a4-ec021358cc36"},{"parameters":{"jsCode":"// Parse body string into JSON\nconst body = JSON.parse($json.body);\n\n// Extract the object key\nconst key = body.Records[0].s3.object.key;\n\n// Return it as clean data for downstream nodes\nreturn [{ key }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-256,96],"id":"2217d1be-e03f-4c37-8d92-dfbfe397ad80","name":"Extract File Name"},{"parameters":{"jsCode":"const format = \"jpg\";   // image format (jpg, png, webp, etc.)\nconst quality = 60;     // quality setting in %\nconst height = 0.25;    // height setting in % (ie: 50% = 0.5)\n\nreturn $input.all().map(item => {\n  return {\n    json: {\n      data: `https://syreart-test.imgix.net/${item.json.key}?fm=${format}&q=${quality}&h=${height}`\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,192],"id":"1dde11b7-732e-46c0-be0d-7edd3f4b8e51","name":"Small JPEG"},{"parameters":{"jsCode":"const format = \"jpg\";   // image format (jpg, png, webp, etc.)\nconst quality = 80;     // quality setting in %\nconst height = 0.50;    // height setting in % (ie: 50% = 0.5)\n\nreturn $input.all().map(item => {\n  return {\n    json: {\n      data: `https://syreart-test.imgix.net/${item.json.key}?fm=${format}&q=${quality}&h=${height}`\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"165ef628-60e8-42a0-9175-ebaa875e5544","name":"Medium JPEG"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appQzPmEZtU7h1tYV","mode":"list","cachedResultName":"David Syre Art 3.0","cachedResultUrl":"https://airtable.com/appQzPmEZtU7h1tYV"},"table":{"__rl":true,"value":"tblzAEhsgvlqBUIwN","mode":"list","cachedResultName":"Images","cachedResultUrl":"https://airtable.com/appQzPmEZtU7h1tYV/tblzAEhsgvlqBUIwN"},"columns":{"mappingMode":"defineBelow","value":{"refreshThumbnail":false},"matchingColumns":[],"schema":[{"id":"imageName","displayName":"imageName","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"image","displayName":"image","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"refreshThumbnail","displayName":"refreshThumbnail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"artwork","displayName":"artwork","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"lowLink","displayName":"lowLink","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"artwork_imageCount","displayName":"artwork_imageCount","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"image_first","displayName":"image_first","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"artwork_imageNames","displayName":"artwork_imageNames","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"artwork_imageRecids","displayName":"artwork_imageRecids","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"amazonPath","displayName":"amazonPath","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"lowLink_text","displayName":"lowLink_text","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"mediumLink","displayName":"mediumLink","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"mediumLink_text","displayName":"mediumLink_text","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"highLink","displayName":"highLink","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"highLink_text","displayName":"highLink_text","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"processedBy","displayName":"processedBy","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"createdAt","displayName":"createdAt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"UpdatedAt","displayName":"UpdatedAt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"recid","displayName":"recid","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Artwork Title","displayName":"Artwork Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Artwork Availability","displayName":"Artwork Availability","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Medium Link","displayName":"Medium Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Original","displayName":"Original","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Artwork 2","displayName":"Artwork 2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-352,-240],"id":"38fa6959-fed4-4f10-990c-3468c0d8c6bf","name":"Create a record","credentials":{"airtableTokenApi":{"id":"bQbAH10tbCpSc1pm","name":"Syre Airtable Personal Access Token"}}},{"parameters":{"operation":"getAll","bucketName":"patofoto-data","returnAll":true,"options":{"folderKey":"test/"}},"type":"n8n-nodes-base.awsS3","typeVersion":2,"position":[-992,-256],"id":"61a4f30f-d6f7-415b-b14a-4464010e9a5a","name":"Get many files","credentials":{"aws":{"id":"uh4FaYomGgeDi6EC","name":"Personal AWS S2"}}},{"parameters":{"chatId":"1951007350","text":"Hello World!","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-688,-336],"id":"128c03b2-95fc-42c1-a082-f98b3117da21","name":"Send a text message","webhookId":"069a4b91-f8dc-41d4-aa9e-6e8848cadd20","credentials":{"telegramApi":{"id":"z1CTme1y8LPRGZVw","name":"Telegram account"}}}],"connections":{"Webhook":{"main":[[{"node":"Extract File Name","type":"main","index":0}]]},"Extract File Name":{"main":[[{"node":"Medium JPEG","type":"main","index":0},{"node":"Small JPEG","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n-n8n.pax4ti.easypanel.host","user-agent":"Amazon Simple Notification Service Agent","content-length":"805","accept-encoding":"gzip,deflate","content-type":"text/plain; charset=UTF-8","x-amz-sns-message-id":"cd667e6a-57fa-5058-b1de-1f748ac50110","x-amz-sns-message-type":"Notification","x-amz-sns-rawdelivery":"true","x-amz-sns-subscription-arn":"arn:aws:sns:us-east-2:237919053126:Amazon_n8n:1a154b70-91ba-4721-94ac-d8260b7d4da8","x-amz-sns-topic-arn":"arn:aws:sns:us-east-2:237919053126:Amazon_n8n","x-forwarded-for":"52.95.25.69","x-forwarded-host":"n8n-n8n.pax4ti.easypanel.host","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f83b115f29e7","x-real-ip":"52.95.25.69"},"params":{},"query":{},"body":"{\"Records\":[{\"eventVersion\":\"2.1\",\"eventSource\":\"aws:s3\",\"awsRegion\":\"us-east-2\",\"eventTime\":\"2025-08-19T20:13:51.197Z\",\"eventName\":\"ObjectCreated:Put\",\"userIdentity\":{\"principalId\":\"A1QP070R90CYM6\"},\"requestParameters\":{\"sourceIPAddress\":\"173.56.39.160\"},\"responseElements\":{\"x-amz-request-id\":\"P17865DA8E21J6DN\",\"x-amz-id-2\":\"RS5rleyQ4BGGz7ccw1FVkrRXl64EO5GC8umblI18ESLNoulpMZz24WTOUFOiTxuSntF7XmgUN0iw2OA+VEPjncwQtKMIgELl\"},\"s3\":{\"s3SchemaVersion\":\"1.0\",\"configurationId\":\"AmazonS3_n8n\",\"bucket\":{\"name\":\"syre-artwork\",\"ownerIdentity\":{\"principalId\":\"A1QP070R90CYM6\"},\"arn\":\"arn:aws:s3:::syre-artwork\"},\"object\":{\"key\":\"test/0a9841fd7d836ce49537292f59434178.jpg\",\"size\":67415,\"eTag\":\"0a9841fd7d836ce49537292f59434178\",\"versionId\":\"SkTYLUMQe3YNHJ9lk2byYdi1WY_zXQEh\",\"sequencer\":\"0068A4DAFF1FBCB621\"}}}]}","webhookUrl":"https://n8n-n8n.pax4ti.easypanel.host/webhook-test/webhook","executionMode":"test"}}]},"versionId":"042eac47-c061-48ce-b57c-61e7483424a2","triggerCount":0,"shared":[{"createdAt":"2025-09-12T16:05:10.050Z","updatedAt":"2025-09-12T16:05:10.050Z","role":"workflow:owner","workflowId":"kGULdJCqcoxV9OzQ","projectId":"Q2gWlykIbD5UlvZo"}],"tags":[]}